In [103]:
import numpy as np
import pandas as pd

In [104]:
df = pd.read_excel("training.xlsx")
df.sample(5)

    ID Agent Helpfulness (x) Service Rating (y)
2    3             Excellent     Very Satisfied
12  13                  Fair       Dissatisfied
14  15                  Good            Neutral
1    2                  Poor  Very Dissatisfied
4    5                  Good            Neutral

In [105]:
df = df.iloc[:,1:]
df

   Agent Helpfulness (x) Service Rating (y)
0                   Good          Satisfied
1                   Poor  Very Dissatisfied
2              Excellent     Very Satisfied
3                   Fair       Dissatisfied
4                   Good            Neutral
5              Excellent          Satisfied
6                   Poor       Dissatisfied
7                   Fair            Neutral
8                   Good          Satisfied
9              Excellent     Very Satisfied
10                  Poor  Very Dissatisfied
11                  Good     Very Satisfied
12                  Fair       Dissatisfied
13             Excellent          Satisfied
14                  Good            Neutral

In [106]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0],df.iloc[:,-1],test_size=0.2)

In [107]:
X_train

7          Fair
12         Fair
2     Excellent
14         Good
13    Excellent
1          Poor
4          Good
0          Good
6          Poor
3          Fair
8          Good
5     Excellent
Name: Agent Helpfulness (x), dtype: object

In [112]:
from sklearn.preprocessing import OrdinalEncoder

# Only one feature, so categories should be a list with one list inside
oe = OrdinalEncoder(categories=[['Poor','Fair','Good','Excellent']])

oe.fit_transform(X_train.values.reshape(-1, 1))

array([[1.],
       [1.],
       [3.],
       [2.],
       [3.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [2.],
       [3.]])

In [114]:
X_train = oe.transform(X_train.values.reshape(-1, 1))
X_test = oe.transform(X_test.values.reshape(-1, 1))

In [116]:
X_test

array([[2.],
       [0.],
       [3.]])