In [2]:
# Importing Panda

import pandas as pd

In [20]:
# Opeaning a local csv file
df = pd.read_csv(r"C:\Users\Admin\Downloads\aug_train.csv\aug_train.csv",index_col='enrollee_id')
df.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
enrollee_id,,,,,,,,,,,,,
8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [ ]:
df= pd.read_csv(r"C:\Users\Admin\Downloads\movie_titles_metadata.tsv",sep='\t',names=(['sno','name','release_year','rating','votes']))
df

In [ ]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\aug_train.csv\aug_train.csv",usecols=['enrollee_id','city','gender','relevent_experience','education_level','experience'])

In [ ]:
# Handling data encoding 
df = pd.read_csv(r"C:\Users\Admin\Downloads\zomato.csv")
df

In [ ]:
# Handling data type
df = pd.read_csv(r"C:\Users\Admin\Downloads\aug_train.csv\aug_train.csv",dtype={'target' : int}).info()

In [ ]:
# Convertors

def rename(name) :
    if name == "Royal Challengers Bangalore" :
        return "RCB"
    elif name == "Kings XI Punjab" :
        return "PBKS"
    elif name == "Chennai Super Kings" :
        return "CSk"
    elif name == "Rajasthan Royals" :
        return "RR"
    elif name == "Mumbai Indians" :
        return "MI"
    elif name == "Delhi Capitals" :
        return "DC"
    elif name == "Sunrisers Hyderabad" :
        return "SRH"
    elif name == "Kolkata Knight Riders" :
        return "KKR"
    else :
        return name
    
df = pd.read_csv(r"C:\Users\Admin\Downloads\IPL Matches 2008-2020.csv",converters={'team1' : rename,'team2' : rename})
df

In [ ]:
# na_values parmeter 

pd.read_csv(r"C:\Users\Admin\Downloads\aug_train.csv\aug_train.csv",na_values=['Male'])

In [42]:
# Large Data set in to Chunks 

dfs = pd.read_csv(r"C:\Users\Admin\Downloads\aug_train.csv\aug_train.csv",chunksize=5000)

for chunks in dfs :
    print(chunks.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(4158, 14)